@import "tailwindcss";
@layer reset, base, tokens, recipes;

@theme {
  --color-bg-primary: #1a1f2b;
  --color-bg-secondary: #2c3a4f;
  --color-bg-tertiary: #c8c8c8;
  --color-text-primary: #ffffff;
  --color-text-secondary: #e0e0e0;
  --color-text-revert: #292e3b;
  --color-primary-brand: #414654;
  --color-secondary-brand: #ff4d4d;
  --color-tertiary-brand: #2c3a4f;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-bg-secondary);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-secondary-brand);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-tertiary-brand);
}

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px var(--color-bg-primary) inset !important;
  -webkit-text-fill-color: var(--color-text-primary) !important;
  transition: background-color 5000s ease-in-out 0s;
}
/* From Uiverse.io by mrhyddenn */
.check {
  cursor: pointer;
  position: relative;
  margin: auto;
  width: 18px;
  height: 18px;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}

.check:before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(34, 50, 84, 0.03);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.check svg {
  position: relative;
  z-index: 1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #c8ccd4;
  stroke-width: 1.5;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
}

.check svg path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
}

.check svg polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 66;
}

.check:hover:before {
  opacity: 1;
}

.check:hover svg {
  stroke: var(--color-secondary-brand);
}

#cbx:checked + .check svg {
  stroke: var(--color-secondary-brand);
}

#cbx:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}

#cbx:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}
